Flask
Flask-SQLAlchemy
python-dotenv
Werkzeug
gunicorn
Jinja2
requests
newsapi-python
newspaper3k
nltk
groq
langchain-groq
psycopg2-binary
pytz
celery
redis
lxml # newspaper3k can use lxml for better parsing
