# requirements.txt

Flask
Flask-SQLAlchemy
python-dotenv
Werkzeug
gunicorn
Jinja2
requests
newsapi-python
newspaper3k
nltk
lxml_html_clean
groq
langchain-groq
# Added for PostgreSQL support on Render to ensure data persistence
psycopg2-binary
